rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuth() && request.auth.uid == userId;
    }

    // User document
    match /users/{userId} {
      // Allow initialization and reading of user document
      allow create: if isAuth() && request.auth.uid == userId;
      allow read, update: if isOwner(userId);
      
      // Validate arrays in user document
      allow write: if isOwner(userId) && 
        (!request.resource.data.keys().hasAll(['favorites']) || request.resource.data.favorites is list) &&
        (!request.resource.data.keys().hasAll(['queue']) || request.resource.data.queue is list);

      // Playlists subcollection
      match /playlists/{playlistId} {
        // Allow all operations except on 'queue'
        allow create, read, update, delete: if isOwner(userId);
      }
    }

    // For other collections
    match /{document=**} {
      allow read, write: if isAuth();
    }
  }
}
